################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

.vs/
.vscode/
bin/
*.ff
*.rawfact
database/
objectSortingSystemInfo.txt
resolvingSystemInfo.txt
subjectSortingSystemInfo.txt
